!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1 Welcome qnaqnaqna
    %p= "Confirm your email for complete the registration"
    =link_to 'CONFIRM ME', confirmation_url(token: @token)