default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: kirill
  password: 111

development:
  <<: *default
  database: courses_development


test:
  <<: *default
  database: courses_test